.no-under {
  text-decoration: none;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.f-21 {
  font-size: 21px;
}

.no-under {
  text-decoration: none !important;
}

panel:hover{
  cursor: pointer;
}

