<div class="row">
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a routerLink="/configuracoes/importar-exportar/clientes" class="link-unstyled text-primary">
                  <em class="fa fa-5x fa-user mb-lg"></em>
                  <br>
                  <span class="h4">Clientes</span>
                  <br>
                  <small class="text-muted">Importar →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-primary">
                  <em class="fa fa-5x fa-television mb-lg"></em>
                  <br>
                  <span class="h4">All Products</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-info">
                  <em class="fa fa-5x fa-object-group mb-lg"></em>
                  <br>
                  <span class="h4">Templates</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-purple">
                  <em class="fa fa-5x fa-cubes mb-lg"></em>
                  <br>
                  <span class="h4">Servers</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-warning">
                  <em class="fa fa-5x fa-diamond mb-lg"></em>
                  <br>
                  <span class="h4">Buyers</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-danger">
                  <em class="fa fa-5x fa-building-o mb-lg"></em>
                  <br>
                  <span class="h4">Sellers</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel b">
          <div class="panel-body text-center">
              <a class="link-unstyled text-success">
                  <em class="fa fa-5x fa-calendar-check-o mb-lg"></em>
                  <br>
                  <span class="h4">Billing</span>
                  <br>
                  <small class="text-muted">View all →</small>
              </a>
          </div>
      </div>
  </div>
</div>