<div class="panel b" style="padding: 13px;">
    <small> Filtros </small>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"> <input (keyup)="filter()" [(ngModel)]="filtro.Nome" type="text" class="form-control" placeholder="Buscar por Nome" /> </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"> <input (keyup)="filter()" [(ngModel)]="filtro.CpfCnpj" type="text" class="form-control" placeholder="Buscar por Cpf/Cnpj" /> </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> <input (keyup)="filter()" [(ngModel)]="filtro.Celular" type="text" class="form-control" placeholder="Buscar por Celular" /> </div>
    </div>
  </div>
  <div class="panel b" style="padding: 13px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fornecedor of fornecedores">
                <td>{{fornecedor.Pessoa.Nome}}</td>
                <td>{{fornecedor.Pessoa.Cpf | mask: '000.000.000-00'}} {{fornecedor.Pessoa.Cnpj | mask: '00.000.000/0000-00'}}</td>
                <td>{{fornecedor.Pessoa.Telefone | mask: '(00) 0000-0000'}}</td>
                <td>{{fornecedor.Pessoa.Celular | mask: '(00) 00000-0000'}}</td>
                <td>{{fornecedor.Pessoa.Email}}</td>
                <td><button (click)="eventEdit.emit(fornecedor)" class="btn bg-green"><i  class="icon-pencil edit"></i></button></td>
                <td><button (click)="remove(fornecedor)" class="btn btn-danger"><i  class="fa fa-close remove"></i></button></td>
            </tr>
            <tr *ngIf="fornecedores.length <= 0" class="h3 text-center text-muted"> <td colspan="7"> Nenhum fornecedor cadastrado! </td> </tr>
        </tbody>
    </table>
  </div>